#include <Windows.h>

1 ICON "trimcore.ico"

1 ACCELERATORS
{
    "N", 0x20, CONTROL, VIRTKEY // Ctrl+N, New
    "N", 0x21, CONTROL, SHIFT, VIRTKEY // Ctrl+Shift+N, New Window
    "O", 0x22, CONTROL, VIRTKEY // Ctrl+O, Open
    "S", 0x24, CONTROL, VIRTKEY // Ctrl+S, Save
    "S", 0x25, CONTROL, SHIFT, VIRTKEY // Ctrl+Shift+S, Save As

    // "^C", 0xCC // Ctrl+C
    VK_F4, 0xCF, VIRTKEY, ALT, CONTROL // Ctrl+Alt+F4 - quit whole process

    // F1 - help: visit trimcore
    // Ctrl+0 - 100% zoom (also Ctrl+*), increment: (Ctrl++,Ctrl+=), decrement (Ctrl+-)

    VK_F11, 0xFB, VIRTKEY // F11 - full screen, TODO: Win+Shift+Enter?
    // VK_F12, 0xFC, VIRTKEY
}

// Menu Accelerators
//  - reserved 0x10...0x1F
//  - should match the & accelerator
//  - used only in dark mode

2 ACCELERATORS {
    "F", 0x12, VIRTKEY, ALT
    "E", 0x13, VIRTKEY, ALT
    "O", 0x14, VIRTKEY, ALT
    "V", 0x15, VIRTKEY, ALT
    "H", 0x16, VIRTKEY, ALT
}

2 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    MENUITEM SEPARATOR
    MENUITEM "Always on &top", 0xA0
    MENUITEM "&Full Screen\tF11", 0xFB
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    0x100 "Text Documents (*.txt)"
    0x101 "*.txt"
    0x102 "All Files (*.*)"
    0x103 "*.*"
}

// Main menu
//  - due to implementation simplifications in the dark mode, first items must not be nested popups

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N",    0x20
        MENUITEM "New &Window\tCtrl+Shift+N", 0x21
        MENUITEM "&Open…\tCtrl+O",  0x22
        MENUITEM "&Save\tCtrl+S",   0x24
        MENUITEM "Save &As…",       0x25
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up…",    0x28
        MENUITEM "&Print…\tCtrl+P", 0x29
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",   IDCLOSE
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo\tCtrl+Z", 0x30
        POPUP "Edit &History" {
            MENUITEM "...", 0x3000
        }
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",    0x32
        MENUITEM "&Copy\tCtrl+C",   0x33
        MENUITEM "&Paste\tCtrl+V",  0x34
        MENUITEM "De&lete\tDel",    0x35
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", 0x37
        MENUITEM SEPARATOR
        MENUITEM "&Find…\tCtrl+F",  0x3A
        MENUITEM "Find &Next\tF3",  0x3B
        MENUITEM "&Replace…\tCtrl+H", 0x3C
        MENUITEM "&Go To…\tCtrl+G", 0x3D
        MENUITEM SEPARATOR
        MENUITEM "Insert &Date/Time\tF5", 0x40
        MENUITEM "Insert ...", 0x41
    }
    POPUP "F&ormat"
    {
        MENUITEM "&Word wrap",  0x50
        MENUITEM "&Font…",      0x51
        MENUITEM "&Background…", 0x52
        MENUITEM SEPARATOR
        POPUP "File &Properties" {
            MENUITEM "&Font…",      0x55
            MENUITEM "&Background…", 0x56
            MENUITEM "Border &Color…", 0x57
            MENUITEM SEPARATOR
            MENUITEM "Clea&r", 0x59
        }
        POPUP "&Window" {
            MENUITEM "Classic Caption", 0x5A
            MENUITEM "Square Corners", 0x5B
        }
        POPUP "&Application" {
            MENUITEM "Separate Processes", 0x5F
        }
    }
    POPUP "&View"
    {
        /*POPUP "&Zoom" {
            MENUITEM "Zoom &In\tCtrl+Plus", 0x60
            MENUITEM "Zoom &Out\tCtrl+Minus", 0x61
            MENUITEM "&Restore Default\tCtrl+0", 0x62
        }*/
        MENUITEM "Zoom &In\tCtrl+Plus", 0x60
        MENUITEM "Zoom &Out\tCtrl+Minus", 0x61
        MENUITEM "&Restore Default\tCtrl+0", 0x62
        MENUITEM SEPARATOR
        MENUITEM "&Line Numbers", 0x6E
        MENUITEM "&Status Bar", 0x6F
        // MENUITEM SEPARATOR
        // MENUITEM "Full Screen\tF11", 0xFB
    }
    POPUP "&Help"
    {
        MENUITEM "github.com/tringi/notepad", 0x70
        MENUITEM "Check for updates", 0x7E
        MENUITEM SEPARATOR
        MENUITEM "&About…", 0x7F
    }
}
