#include <Windows.h>

1 ICON "trimcore.ico"

1 ACCELERATORS
{
    "^N", 0x1001 // Ctrl+N
    // "^C", 0xCC // Ctrl+C
    VK_F4, 0xCF, VIRTKEY, ALT, CONTROL // Ctrl+Alt+F4 - quit whole process

    // F1 - help: visit trimcore
    // Ctrl+0 - 100% zoom (also Ctrl+*), increment: (Ctrl++,Ctrl+=), decrement (Ctrl+-)

    VK_F11, 0xFB, VIRTKEY // F11 - full screen, TODO: Win+Shift+Enter?
    // VK_F12, 0xFC, VIRTKEY
}

// Menu Accelerators
//  - reserved 0x10...0x1F
//  - should match the & accelerator
//  - used only in dark mode

2 ACCELERATORS {
    "F", 0x10, VIRTKEY, ALT
    "E", 0x11, VIRTKEY, ALT
    "O", 0x12, VIRTKEY, ALT
    "V", 0x13, VIRTKEY, ALT
    "H", 0x14, VIRTKEY, ALT
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    0xA0 "Always on &top"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    0x100 "Text Documents (*.txt)"
    0x101 "*.txt"
    0x102 "All Files (*.*)"
    0x103 "*.*"
}

// TODO: the IDs are unnecessary wide, reduce to 0x20...0x7F

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N",    0x1001
        MENUITEM "&Open…\tCtrl+O",  0x1002
        MENUITEM "&Save\tCtrl+S",   0x1003
        MENUITEM "Save &As…",       0x1004
        MENUITEM "&Close",          0x1005
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up…",    0x1008
        MENUITEM "&Print…\tCtrl+P", 0x1009
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",   IDCLOSE
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo\tCtrl+Z", 0x2001
        POPUP "Edit &History" {
            MENUITEM "...", 0x2100
        }
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",    0x2002
        MENUITEM "&Copy\tCtrl+C",   0x2003
        MENUITEM "&Paste\tCtrl+V",  0x2004
        MENUITEM "De&lete\tDel",    0x2005
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", 0x2006
        MENUITEM SEPARATOR
        MENUITEM "&Find…\tCtrl+F",  0x2010
        MENUITEM "Find &Next\tF3",  0x2011
        MENUITEM "&Replace…\tCtrl+H", 0x2012
        MENUITEM "&Go To…\tCtrl+G", 0x201F
        MENUITEM SEPARATOR
        MENUITEM "Insert &Date/Time\tF5", 0x2020
        MENUITEM "Insert ...", 0x2021
    }
    POPUP "F&ormat"
    {
        MENUITEM "&Word wrap",  0x300F
        MENUITEM "&Font…",      0x3000
        MENUITEM "&Background…", 0x3001
        MENUITEM SEPARATOR
        POPUP "File &Properties" {
            MENUITEM "&Font…",      0x3030
            MENUITEM "&Background…", 0x3031
            MENUITEM "Border &Color…", 0x3032
            MENUITEM SEPARATOR
            MENUITEM "&Erase", 0x303F
        }
        POPUP "&Window" {
            MENUITEM "Classic Caption", 0x3010
            MENUITEM "Square Corners", 0x3011
        }
        POPUP "&Application" {
            MENUITEM "Separate processes", 0x3020
        }
    }
    POPUP "&View"
    {
        POPUP "&Zoom" {
            MENUITEM "Zoom &In\tCtrl+Plus", 0x4010
            MENUITEM "Zoom &Out\tCtrl+Minus", 0x4011
            MENUITEM "&Restore Default\tCtrl+0", 0x4012
        }
        MENUITEM "&Status Bar",     0x4001
        MENUITEM "&Line Numbers",   0x4002
    }
    POPUP "&Help"
    {
        MENUITEM "github.com/tringi/notepad", 0x5001
        MENUITEM "Check for updates", 0x5002
        MENUITEM SEPARATOR
        MENUITEM "&About…", 0x5009
    }
}
